.cursor { cursor: cell}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}


.border {

    background-color: rgb(181, 181, 181);
    height: 535px;
    width: 735px;
    border: 3px inset;
    border-color: white rgb(114, 114, 114)rgb(114, 114, 114) white;
    
}

.container {
    display: grid;
    justify-items: center;
    gap: 2px;
    background-color: rgb(0, 0, 0);
    grid-template-rows: 100px 387px auto;
    height: 500px;
    width: 700px;
    border: 3px outset;
    border-color:rgb(114, 114, 114) white white rgb(114, 114, 114);
    position: relative;
    top:15px;
    left:15px;
}

.title {
    grid-row:1;
    color:white;
    font-family: 'vt323regular'; 
    font-size:40px;
    text-decoration: underline;
}


.table-container {
    grid-row:2;
    color:white;
    font-family: 'vt323regular'; 
    font-size:20px;
}

.table-data {
    grid-row:3;
    padding:10px;
    
}

.returnButton {
    text-decoration: none;
    z-index: 9999!important;    
}

.returnButton:hover{
    cursor:cell;
}

.button {
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 3px inset;
    border-color: white rgb(114, 114, 114)rgb(114, 114, 114) white;
    top:60%;
    left:50%;
    transform: translate(-50%);
    height: 60px;
    width: 165px;
    background-color: rgb(196, 196, 196);
    user-select: none;
    color: blue;
    font-family: 'vt323regular'; 
    font-size:25px;

}

.button:active {
    background-color: rgb(150, 150, 150);
  }

@font-face {
    font-family: 'vt323regular'; 
    src: url('/fonts/vt323-regular-webfont.woff2') format('woff2'),
    url('/fonts/vt323-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
